.about-container {
  color: white;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030812;
}

.about-content-cntr {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  /* background-color: hsla(0, 0%, 0%, 0.75); */
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
}

.about-picture {
  width: 300px;
  border-radius: 10px;
  margin: 15px;
}

.about-heading {
  margin: 15px;
}

.about-info {
  margin: 15px;
  font-size: 24px;
}

.about-info p {
  margin-top: 0px;
}

/* mobile */
@media only screen and (max-width: 430px) {
  .about-picture {
    display: none;
  }
  .year {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
  .about-picture {
    display: none;
  }
  .flex-column {
    width: 100%;
    margin-top: 50px;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .about-info {
    text-align: center;
  }
}
