.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2px;
}

.grid-item {
  text-align: center;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(3, 8, 18);
  color: white;
  font-size: 24px;
}

.grid-item h2,
.grid-item p {
  margin-top: 0;
}

.grid-item:first-of-type {
  padding: 40px 20px;
}

@media (max-width: 840px) {
  .contact-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    min-height: 300px;
    height: 100%;
  }
}